<div *ngIf="selectedHero">
  <ul class="list-unstyled d-flex mt-3">
    <li class="power-str px-3">
      Strength: <span> {{ selectedHero?.powerStats?.strength }} </span>
    </li>
    <li class="power-int px-3">
      Intelligence: <span> {{ selectedHero?.powerStats?.intelligence }} </span>
    </li>
    <li class="power-spd px-3">
      Speed: <span> {{ selectedHero?.powerStats?.speed }} </span>
    </li>
    <li class="power-cbt px-3">
      Combat: <span> {{ selectedHero?.powerStats?.combat }} </span>
    </li>
  </ul>
  <div class="d-flex" (input)="broadcastChanges()">
    <input
      type="number"
      [(ngModel)]="selectedHero.powerStats.strength"
      placeholder="Strength"
    />
    <input
      type="number"
      [(ngModel)]="selectedHero.powerStats.intelligence"
      placeholder="Intelligence"
    />
    <input
      type="number"
      placeholder="Speed"
      [(ngModel)]="selectedHero.powerStats.speed"
    />
    <input
      type="number"
      placeholder="Combat"
      [(ngModel)]="selectedHero.powerStats.combat"
    />
  </div>
</div>
